:root {
    --color-greenmain: #72BF44;
    --color-whitelight: #f8f9fa;
}

@font-face {
    font-family: 'NotoSansThai';
    src: url("../fonts/subset-NotoSansThaiUI-Regular.woff2") format("woff2"),
        url("../fonts/subset-NotoSansThaiUI-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans';
    src: url("../fonts/NotoSans-Regular.woff2") format("woff2"),
        url("../fonts/NotoSans-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'NotoSansThai', NotoSans, sans-serif;
    font-size: 16px;
    background-color: #fff;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.contact-admin {
    position: fixed;
    right: 60px;
    bottom: 0;
    margin: 0;
    z-index: 1041;
    color: #fff;
    cursor: pointer;
    height: 88px;
    width: 290px;
    transition: all 0.3s ease 0s;
}

.contact-admin:hover {
    height: 300px;
}

.report-row {
    margin: 10px 0;
}


.backtotop {
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0;
    opacity: 0;
    width: 58px;
    height: 58px;
    z-index: 10000;
    color: #fff;
    cursor: pointer;
    text-align: center;
    background-color: #b2282b;
    box-sizing: border-box;
    -webkit-transition: opacity .2s ease-out, visibility .2s ease-out, color .2s ease-out;
    -moz-transition: opacity .2s ease-out, visibility .2s ease-out, color .2s ease-out;
    transition: opacity .2s ease-out, visibility .2s ease-out, color .2s ease-out;
}

.backtotop span {
    display: block;
    position: absolute;
    left: 50%;
    margin-top: 8px;
    margin-left: -11px;
    line-height: 35px;
    -webkit-transition: transform .2s ease-out;
    -moz-transition: transform .2s ease-out;
    transition: transform .2s ease-out;
}

.backtotop i {
    display: block;
}

.backtotop small {
    display: block !important;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    background-color: #fff;
    border-top: 1px solid #ddd;
}

.footer-logo img {
    border-right: 1px solid #ddd;
}

.footer-row {
    padding: 20px 0 10px 0;
    align-items: center;
}

.footer-item {
    padding: 5px;
    transition: all .25s ease;
}

.footer-item:hover,
.footer-item a:hover {
    transform: scale(1.1);
}

.footer-description {
    padding: 10px 5px;
    color: #7D7979;
}

.footer-description strong {
    color: #FF5722;
}

.footer-description small {
    /* display: block; */
    color: #0059B3;
    font-style: italic;
}

.footer .main-menu {
    margin: 0;
    padding: 0;
}

.link-services-call {
    background-image: url(../images/hotline.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 114px;
    height: 52px;
}

.link-services-faq {
    background-image: url(../images/faq.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 114px;
    height: 52px;
}

.link-services-it {
    background-image: url(../images/itservices.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 114px;
    height: 52px;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #f8f9fa;
    color: inherit;
}

.c-greenmain {
    color: #72BF44;
}

.main-menu {
    list-style: none;
}

.main-menu .nav-link {
    color: rgba(0, 0, 0, 0.82) !important;
}

.main-menu .nav-link:hover {
    color: #72BF44 !important;
}

.main-menu .nav-item .nav-link:hover {
    background-color: #f8f9fa;
    border-radius: 5px;
}

.main-menu .nav-link i {
    color: #ccc !important;
    display: block;
    text-align: center;
    padding-bottom: 5px;
}



.menu-top {
    display: flex;
    flex: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid #ddd;
}

.main-header {
    transition: all 0.5s ease;
}

.fixed-header {
    transition: all 0.5s ease;
    animation: smoothScroll .5s forwards;
    padding-top: 0;
    padding-bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 99;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
    }
}


.flag-icon,
.flag-icon-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%
}

.flag-icon {
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em
}

.flag-icon:before {
    content: "\00a0"
}

q .flag-icon.flag-icon-squared {
    width: 1em
}

.flag-icon-th {
    background-image: url(../images/th.svg)
}

.flag-icon-us {
    background-image: url(../images/us.svg)
}

.change-language button {
    background-color: transparent;
    border: none;
}

:focus {
    outline: none;
    ;
}

.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
    outline: none -webkit-focus-ring-color !important;
    outline-offset: 0;
}

.change-language button:hover,
.change-language button:focus {
    background-color: transparent !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    outline: none -webkit-focus-ring-color !important;
    outline-offset: 0;
}

.header-search {
    width: 90%;
}

.header-search input {
    outline: none;
}

.header-search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;

}

.header-search input::-webkit-search-decoration,
.header-searchinput::-webkit-search-cancel-button {
    display: none;
}

.header-search input[type="search"] {
    background: url(../images/search.png) no-repeat 9px center;
    border: solid 1px transparent;
    padding: 9px 10px 9px 32px;
    display: block;
    width: 100%;
    border-radius: 0;
    font-size: 1rem;

    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

.header-search input[type=search]:focus {
    /* width: 200px; */
    background-color: #fff;
    /* border-color: #ddd; */
    display: block;
}

.header-search input:-moz-placeholder {
    color: #999;
    font-size: .9rem;
}

.header-search input::-webkit-input-placeholder {
    color: #999;
    font-size: .9rem
}

.btn-group-nav {
    display: flex;
    align-items: center;
    border-left: 1px solid #ddd;
    margin-left: 5px;
    padding-left: 5px;
}

.btn-group-nav .btn-login,
.btn-group-nav .btn-register {
    border: 1px solid;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 8px;
}

.btn-group-nav .btn-login:hover {
    background-color: transparent;
    color: inherit;
}

.change-language .filter-option-inner-inner,
.change-language span.text {
    font-size: .9rem;
}

.account-user .group-user {
    display: flex;
}

.account-user img {
    margin: 0 5px;
}

.account-user span {
    font-size: .9rem;
    text-align: left;
    position: relative;
    display: inline;
}

.account-user span small {
    color: #999;
    position: relative;
    text-align: right;
}

.account-user button:focus,
.account-user button:hover,
.course-user button:focus,
.course-user button:hover {
    box-shadow: none;
    background-color: #f8f9fa;
}


.account-user .dropdown-menu {
    width: 100%;
}

.account-user .dropdown-menu .dropdown-item {
    padding: 10px 30px;
    text-align: left;
    font-size: .9rem;
}

.account-user .dropdown-menu .dropdown-item:not(:last-child),
.course-user .dropdown-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

.account-user .dropdown-menu .dropdown-item i {
    color: #999;
    font-size: .9rem;
    margin-right: .6rem;
}

.account-user .dropdown-item.active,
.account-user .dropdown-item:active,
.course-user .dropdown-item.active,
.course-user .dropdown-item:active {
    background-color: #f8f9fa;
    color: inherit;
}

.account-user:hover>.dropdown-menu,
.course-user:hover>.dropdown-menu {
    display: block;
}

.account-user>.dropdown-toggle:active,
.course-user>.dropdown-toggle:active {
    pointer-events: none;
}

.course-user .group-course {
    font-size: 1rem;
}

.course-user button:focus {
    outline: 0;
    box-shadow: none;
}

.course-user button:hover {
    color: #72BF44;
}

.course-user .group-course i {
    color: #999;
    margin: 0 4px;
    font-size: .9rem;
}

.course-user a {
    padding: 1rem 1rem;
    background-color: transparent;
    box-sizing: border-box;
    color: #3c3b37;
    display: flex;
    font-weight: 400;
    outline: none;
    outline-offset: -2px;
    text-decoration: none;

}

.course-user a:hover {
    cursor: pointer;
}

.course-user .course-list-user {
    border-radius: 4px;
    width: 4.4rem;
    height: 4.4rem;
    overflow: hidden;
    position: relative;
}

.course-user .course-list-user img {
    position: absolute;
    top: 0;
    left: 50%;
    width: auto;
    max-width: none;
    height: 100%;
    transform: translateX(-50%);
}

.course-user .course-title-user {
    padding: 0 .8rem;
    width: 14rem;
}

.course-user .course-title-user h5 {
    display: block !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 5rem;
    margin-bottom: .4rem;
    font-size: .9rem;
}

.progress-course-list {
    height: .8rem;
}

.main-menu .active a {
    font-weight: 500;
    color: #72BF44 !important;
}

.contact-topbar {
    font-size: .85rem;
}

.contact-topbar span {
    margin-right: 5px;
}

.contact-topbar span:first-child:after {
    content: '▪';
    margin-left: 8px;
    font-size: .9rem;
    color: #ddd;

}

.contact-topbar .calltop {
    color: #333;
    font-weight: 600;
}

.contact-topbar .calltop {
    color: #333;
    font-weight: 600;
}

.contact-topbar .mailtop {
    color: #EC5252;
    font-weight: 600;
}

.breadcrumb-main {
    background-color: #F5F5F5;
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    border-radius: 0;
    margin: 0;
}

.breadcrumbhome {
    background: url(../images/breadcrumb-home.svg) no-repeat;
    background-size: cover;
    background-position: top;
    height: 44px;
    width: 60px;
    cursor: pointer;
    margin-right: 15px;
    transition: all .15s ease;
}

.breadcrumbhome:hover {
    background-position: bottom;
}

.breadcrumb-main .breadcrumb-item a {
    color: #7D7979;
}

.breadcrumb-main .breadcrumb-item.active {
    color: #72BF44;
}

.register-form {
    margin: 2em 0 5em;
    position: relative;
    z-index: 100;
}

.register-form h3 {
    text-align: center;
    color: #72BF44;
    margin-bottom: 1em;
}

.register-form .nav-tabs {
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    margin-top: 25px;
}

.otp-tab {
    margin-top: 25px;
}

.register-form .nav-item {
    background-color: #fff;
    font-size: 18px;
    width: 50%;
    text-align: center;
    padding: 15px;
    color: #B1B1B1;
    transition: all .25s ease;
}

.register-form .nav-item:hover,
.register-form .nav-item:focus {
    border: none;
    border-bottom: 3px solid #ddd;
}

.register-form .nav-item.active {
    border: none;
    border-bottom: 4px solid #72BF44;
}

.register-form .tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    padding: 40px 60px;
}


.register-form {
    margin: 2em 0 5em;
    position: relative;
    z-index: 100;
}

.register-form h3 {
    text-align: center;
    color: #72BF44;
    margin-bottom: 1em;
}

.register-form .nav-tabs {
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    margin-top: 25px;
}

.otp-tab {
    margin-top: 25px;
}

.login-form .nav-item {
    background-color: #fff;
    width: 50%;
    text-align: center;
    padding: 15px;
    color: #B1B1B1;
    transition: all .25s ease;
    border-bottom: 3px solid #ddd;
}

.login-form .nav-item:hover,
.login-form .nav-item:focus {
    border-bottom: 3px solid #ddd;
}

.login-form .nav-item.active {
    border-bottom: 4px solid #72BF44;
}

.login-form{
    margin-top: 30px;
}

.personal-tab{
    margin-top: 25px;
}

.form-control {
    height: calc(2em + .75rem + 2px);
}

.form-control::-webkit-input-placeholder { /* Edge */
    color: #999;
  }
  
  .form-control::-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #999;
  }
  
  .form-control::placeholder {
    color: #999;
  }

.submit-regis {
    margin-top: 30px;
    padding: 25px 0 0 0;
    border-top: 1px solid #ddd;
    width: 100%;
    display: flex;
}

.input-icon {
    position: relative;
}

.input-icon span i {
    position: absolute;
    top: 15px;
    left: 10px;
    color: #ccc;
}

.input-icon input,
.input-icon select {
    padding-left: 35px;
}

.login-bg .login-img-1 {
    position: absolute;
    left: 20px;
    bottom: 40px;
    z-index: 10;
}

.login-bg .login-img-2 {
    position: absolute;
    right: 20px;
    bottom: 40px;
    z-index: 10;
}

.course-section {
    padding: 2em 0 3em 0;
}

.title-topic {
    margin: 20px 0;
    border-bottom: 2px solid #F1EBEB;
    display: block;
    width: 100%;
}

.title-topic span {
    border-bottom: 2px solid #72BF44;
    padding-bottom: 4px;
}

.btn-viewall {
    font-size: 0.8rem;
    transform: translateY(-8px);
    background-color: #72BF44;
    border-bottom: 2px solid #72BF44;
    color: #fff;
}

.btn-viewall:hover {
    background-color: #4aae0e;
    border-bottom: 2px solid #4aae0e;
    color: #fff;
}

.course-main {
    padding: 0 15px;
}

.cours-card .course-boximg {
    width: 100%;
    overflow: hidden;
}

.cours-card .course-boximg img {
    transition: all .25s ease;

}

.cours-card .course-boximg img:hover {
    transform: scale(1.1);
}

.course-main .cours-card .course-img:hover {
    transform: scale(1.1);
}

.cours-card .card-title {
    color: #333;
    font-weight: 600;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-video {
    margin: 1em 0 5em;
}

.news-video .item-tab {
    padding: .5rem;
}


.news-video .item-tab .item--images {
    float: left;
    margin: 0 15px 0 0;
    text-align: center;
}

.news-video .item-tab .item--content {
    position: relative;
    overflow: hidden;
    padding-top: 5px;
}

.news-video .item-tab .item--title h4 a {
    font-size: 16px;
    color: #333;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.news-video .item-tab .item--title p {
    line-height: 1.2;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #7D7979;
}


.news-video .item-tab .item--meta {
    list-style: none;
    font-size: 14px;
    color: #7D7979;
    margin: 0;
    padding: 0;
}

.news-video .item-tab .item--meta {
    display: flex;
    justify-content: space-between;
}

.news-video .item-tab .item--meta li {}

.news-video .item-tab .item--meta i {
    margin-right: 5px;
}

.news-video .item-tab .item--meta a {
    color: #7D7979;
    font-size: 14px;
}

.news-video .item-tab .item--meta a.more {
    color: #72BF44;
    font-size: 14px;
    font-weight: 500;

}

.menu-elearning {
    background-image: url(../images/menu-elearning.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 1em 0;
    margin: 3em 0 0 0;
}

.btn-elearning {
    padding: 1em;
    background: #272727;
    color: #fff;
    transition: all .25s ease;
}

.btn-main {
    background: #72BF44;
}

.btn-elearning:hover {
    transform: scale(1.05);
}

.center-align {
    align-items: center;
}

.course-title {
    background-color: #353E43;
    padding: 1em 0 1.5em;
}

.assessment-box {
    padding: 1em 0 1.5em;
    margin-bottom: 1em;
    margin-top: 1em;
}


.certificate-check {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.detail-course {
    margin: 40px 0 120px;
}

.detail-course .nav-item {
    position: relative;
}

.detail-course .nav-item:first-child:after {
    content: '/';
    position: absolute;
    right: 0;
    top: 10px;
}

.detail-course .nav-link.active {
    color: #333;
    background-color: transparent;
}

.detail-course .nav-link {
    color: #999;
}

.h-course-title {
    padding: 1em;
    border: 1px solid #ddd;
    background-color: #eee;
    display: block;
    width: 100%;
    text-align: left;
}

.h-course-title i {
    font-size: 0.9rem;
    color: #72BF44;
    margin-right: 10px;
}

.sidenav .h-course-title i {
    margin-right: 10px;
    color: #333;
}

.learn-list .item-learn i {
    font-size: 0.9rem;
    color: #BFBABA;
    margin-right: 10px;
}

.item-list .item-learn {
    transition: all .25s ease;
}

.item-list:hover {
    background: #eee;
}

.active-learn,
.active-learn:hover {
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
}


.item-list {
    padding: .6rem .9rem .6rem;
    border-radius: 0;
}

.item-ass {
    padding: .6rem .9rem .6rem;
    border-radius: 0;
    background-color: #FF5722;
    color: #fff;
}

.item-ass i {
    font-size: 0.9rem;
    color: #fff;
    margin-right: 10px;
}

.detail-description {
    border: 1px solid #ddd;
    padding: 1.5em;
    font-size: .9rem;
}

.h-exam {
    margin-top: 3em;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 10px 10px;
}

.h-exam .item-h-exam img {
    margin-right: 6px;
    margin-top: -2px;
}

.h-exam .item-h-exam span {
    font-size: 1.2rem;
}

.c-exam {
    margin-top: 3em;
}

.btn-q {
    height: 30px;
}

.q-exam {
    display: flex;
    justify-content: space-between;
}

.q-exam .q-top {
    padding: 0 1.5em;
}

.c-input {
    margin: 10px 0;
    cursor: pointer;
    padding: 10px 10px;
}

.c-input .custom-control-input:checked~.custom-control-label::before {
    border-color: #72BF44;
    background-color: #72BF44;
}

.c-exampage {
    margin-top: 3em;
    border-top: 1px solid #ddd;
    padding-top: 1.5em;
}

.c-exampage .exam-item {
    margin: 0 10px;
}

.c-exampage .exam-item.active a {
    background-color: #FF5722;
    border-color: #FF5722;
    color: #fff;
}

.c-exampage .exam-item a {
    border-radius: 50%;
    color: #333;
}

.box-postexam {
    padding: 1.5em;
    margin-top: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.box-answer {
    padding: .2em 1em;
    margin-top: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
}

.box-answer ul {
    list-style: none;
    padding: 10px 0;
    margin-bottom: 0;
}

.box-answer ul li {
    border-bottom: 1px dashed #ddd;
    padding: 5px;
}

.answer-all {
    padding: 5px 5px 10px 5px;
}

.box-analysis {
    padding: .2em 1em;
    margin-top: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
}

.box-analysis ul {
    list-style: none;
    padding: 10px 0;
    margin-bottom: 0;
}

.box-analysis ul li {
    border-bottom: 1px dashed #ddd;
    padding: 5px;
}

.box-analysis ul li:last-child {
    border-bottom: 0;
}

.ass-radio {
    padding: 1.5em 1.5em;
    margin-top: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
}

.ass-radio h6:first-letter {
    font-weight: 600;
}

.ass-flex {
    display: flex;
    justify-content: center;
    margin-top: 4em;
}

.ass-flex .custom-control-inline {
    margin: 0 20px;
}

.ass-flex .custom-control-label {}

.ass-flex .custom-control span {
    position: absolute;
    top: -25px;
    left: -20px;
    font-size: .9rem;
}

.ass-flex .custom-control-input:checked~.custom-control-label::before {
    border-color: #72BF44;
    background-color: #72BF44;
}

.search-status {
    margin-top: 2.5em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1em;
}

.status-list {
    margin-top: 2.5em;
}

.status-list table th {
    background: rgba(0, 0, 0, .08);
}

.status-list table td {
    vertical-align: middle;
}


.course-learn {
    overflow: hidden;
}

.btn-course-back {
    padding: 15px 20px;
    border-radius: 0;
    background-color: #72BF44;
    border-color: #72BF44;
}

.nav-course-learn {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 0 0;
}

.nav-course-learn .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.nav-course-learn .container-fluid .row {
    /* margin-left: 0;
    margin-right: 0 ; */
}

.course-learn .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: all 0.25s ease;
    background-color: #ffffff;
    border-left: 1px solid #ddd;
}

.course-learn .sidenav .nav-tabs {
    overflow: auto;
}

.note-save {
    font-size: .9rem;
}

.note-save table th {
    border-bottom: 1px dashed #ddd;
}

.note-save table tbody tr:not(:last-child) {
    border-bottom: 1px dashed #ddd;
}

.edit-note {
    cursor: pointer;
}

.sidenav .list-learn-now {
    font-size: 0.9rem;
    line-height: 1.8;
}

.sidenav .list-learn-now i {
    font-size: 1rem;
}



.sidenav .list-learn-now small {
    display: block;
    padding-left: 30px;
}

.sidenav .list-learn-now small i {
    margin: 0;
    font-size: 100%;
}

#main-video .container-fluid {
    padding: 0 !important;
}

.video-learn-main .video-js {
    width: 100%;
    height: 50vh;
}

.pdf-learn-main {
    background: #38393A;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-video {
    padding: 0 2em;
    transition: all .25s ease;
}

.slide-pdf-main {
    margin-top: 1em;
    border: 1px solid #ddd;
    padding: 1rem;
    overflow-x: scroll;
}

.list-video {
    min-height: 385px;
    max-height: 385px;
    overflow-x: hidden;
}

.item-video {
    border-bottom: 1px dashed #ddd;
    padding-bottom: 5px;
    margin: 5px 0;
}

.caption-video {
    padding: 10px 0;
}

.caption-video h6 {
    font-weight: 600;
}

.caption-video span {
    font-size: .9rem;
    color: #7D7979;
}

/* #main-video [class^="col"]{
  padding-right: 0px;
}

.pdf-learn-main [class^="col"]{
  padding-right: 0px ;
} */

.login-or {
    position: relative;
    margin-top: 20px;
}

.login-or::before {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 1px;
    background-color: #e3e9ed;
    transform: translate(-50%, -50%);
    content: '';
}

.login-or span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    padding: 0px 10px;
    transform: translate(-50%, -50%);
    background-color: #fff;
}

.banner-elearning {
    position: relative;
}

.banner-elearning button .fa-angle-left {
    position: absolute;
    left: 40px;
    top: 50%;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.3803921568627451);
}

.banner-elearning button .fa-angle-right {
    position: absolute;
    right: 40px;
    top: 50%;
    font-size: 3em;
    color: rgba(255, 255, 255, 0.3803921568627451);
}

.banner-elearning .owl-dots {
    position: absolute;
    bottom: 45px;
    left: 50%;
}

.banner-elearning .owl-dot.active span {
    background: #72BF44 !important;
}

.banner-elearning .owl-dot span:hover {
    background: #72BF44 !important;
}




@media screen and (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 1rem 1.2rem 1rem 1.2rem;
    }

    .btn-group-nav {
        margin: 0 0 0 15px;
    }
}


@media screen and (max-width: 991px) {
    #header-main .main-menu .nav-link {
        padding: 10px 0;
    }

    #header-main .main-menu .nav-item:last-child {
        margin-bottom: 15px;
    }

    .main-menu .nav-link i {
        display: inline-block;
        padding-right: 10px;
    }

    .btn-group-nav {
        border: none;
        padding: 10px 0;
        border-top: 1px solid #ddd;
    }

    .btn-group-nav .btn-login,
    .btn-group-nav .btn-register {
        width: 100%;
    }

    .btn-group-nav .btn-login img,
    .btn-group-nav .btn-register img {
        display: none;
    }
}

@media screen and (min-width:600px) {
    .course-active {
        position: relative;
    }

    .course-active .card {
        position: absolute;
    }
}

@media screen and (max-width:599px) {
    .footer .main-menu {
        flex-direction: column;
        margin: 10px;
    }

    .footer-description {
        display: block;
    }

    .footer-logo img {
        border: none;
    }

    .contact-topbar * {
        display: none;
    }

}