@media only screen and (min-width:992px) {
    .menu-header {
        padding: 10px 0 0 0;
    }

    .box-search {
        float: right;
    }
}

@media only screen and (max-width:991px) {
    .user-menu{
        margin-bottom: 10px;
    }
}