@media (max-width:1200px){
    .menu-header{
        position: absolute;
        top: 20px;
    }
}
@media only screen and (min-width:992px) and (max-width:1360px) {
    .contact-admin {
        right: 100px;
    }
}

@media only screen and (min-width:992px) {
    .menu-header {
        padding: 12px 0 0 0;
    }

    .box-search {
        float: right;
    }

    .news .well .news-img {
        max-height: 110px;
        min-height: 110px;
        overflow: hidden;
    }
}

@media only screen and (max-width:991px) {
    .user-menu {
        margin-bottom: 10px;
    }

    .terms-con {
        display: block !important;
    }

    .terms-con a {
        border-left: 0;
        padding-left: 0;
        margin-left: 0;
    }

    .footer small {
        font-size: 75%;
    }

    .backtotop {
        width: 40px;
        height: 40px;
    }

    .backtotop small {
        display: none !important;
    }

    .backtotop span {
        margin-top: 11px;
        margin-left: -8px;
        line-height: 35px;
    }
}

@media only screen and (max-width:991px) and (min-width:767px) {
    .contact-admin {
        right: 55px;
        height: 65px !important;
        width: 160px !important;
    }
}

@media only screen and (max-width:600px) {
    .contact-admin {
        width: 150px !important;
        height: 60px !important;
        right: 10px;
    }

    .backtotop {
        bottom: 30%;
    }

    .slide-video.news .page-header h4 {
        font-size: 1.4em;
        letter-spacing: 0.8px;
    }
}